<div class="theme-page">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/inicial">FalaSenador</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/senadores">Senadores</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container theme-showcase" role="main">
      <h1>Senadores</h1>

      <% unless @senadores.nil? %>
        <% @senadores.each do |senador| %>

            <div class="col-sm-2">
                <img class="img-thumbnail" src="<%= senador.urlfoto %>" alt="Foto">
                  <h5><%= senador.nome %></h5>
                  <h6><%= senador.siglapartido + ' - ' + senador.uf %></h6>
                  <h6><%= senador.codigoparlamentar %></h6>

                  <!--a href="#" class="btn btn-primary">Fala mais!</a-->
            </div>

        <%end%>
      <% else %>
        <h3>Nenhum senador encontrado</h3>

      <%end%>

  </div> <!-- /container -->
</div>
